*{
	margin: 20 5 0 5;
}
body{
	background-color: rgb(0, 0, 0);
    text-align: center;
}
.main{
    text-align: justify;
}
#heading {
    color: #fff; 
    margin-left: 5%;
    font-size:25px;
    text-align: center;
    }

p{
	width: 100%;
	height: auto;
	box-sizing: border-box;
    padding: 20vh;
    font-size: 16px;
}
@media only screen and (max-width: 600px) {
    #heading {
        text-align: left;
        }
    p{
        width: 100%;
        text-align: left;
    }
  }

