*{
    margin:0;
    padding: 0;
    font-family: Gill Sans Extrabold, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: black;
}
.main{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
}

.information{
    background-color: rgb(0, 0, 0);
}

.pic img{
    width: 100%;
    height: auto;
    clip-path: polygon(17% 0%, 85% 0%, 85% 100%, 17% 100%);
    
}
.header-text{
    color: rgb(245, 239, 239);
    text-align: center;

}
#text{
    color: rgb(243, 241, 238);
    padding-left: 10%;
}
.container {
    margin-right: 10%;
    padding-left: 10%;
}

nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

nav ul li {
    display: block;
    margin: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 13, 0);
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    transition: .1s;
}
@keyframes slide{
    from{
        transform:translate(700px)
    }
    to{
        transform: translate(0);
    }
}
#welcome{
    padding-top: 50px;
    font-size: 15vh;
    animation: slide 0.7s ease-in 0s 1;
}
.info{
    text-align:justify ;
}

#intro{
    color: rgb(255, 255, 255);
    padding-top:70px;
    padding-bottom: 70px;
    width: 45%;            
    height: auto;                      
    margin: auto;            
    border: none; 
}
#intro ul {
    list-style: circle;
    padding: 20px;
    list-style: none;
}
.experience ul li{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1%));
    padding: 0;
    list-style: none; 
    text-align: center;
}
.experience ul li a{
    transition: transform 0.3s ease, filter 0.3s ease;
}
.experience ul li a:hover{
    transform: scale(1.1); 
    filter: brightness(80%); 
}
.contact{
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.582);
}
.contact h1{
    color: rgb(255, 0, 0);
    font-size: 20px;
    padding-top: 5%;
    padding-left: 13% ;
}
.contact ul{
    display: flex;
    list-style: none;
}
.contact ul li{
    padding-left: 27vh;
}
.experience ul {
    display: flex;
}
@media only screen and (max-width: 600px) {
    body{
        width: 100%;
    }
    .main{
        display: block;
        width: 100%;
    }
    .header-text{
        font-size: 16px;
    }
    .container{
        text-align: left;
    }
    nav{
        font-size: 13px;
    }
    nav ul{
        display: inline-block;
        padding-left: 10%;
       
    }
    #welcome{
        font-size: 10vh;
    }
    .info{
        padding:2px;
        width: 100%;
    }
    #intro{
        padding:2px;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    .experience ul{
        display: inline;
        
    }
    .experience ul li{
        padding-bottom: 5px;
    }
    .contact ul{
        display: inline;
    }
    .contact ul li{
        padding-bottom: 5px;
    }
  }
  
  
